@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 245, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #fff5eb 0%, #ffe4d4 100%);
  min-height: 100vh;
}
